# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
*.env
*.sqlite3
*.pyc

# Media files
media/

# Static files
staticfiles/

# Log files
*.log

# Other files
*.swp
.DS_Store
.idea/
.vscode/
node_modules/
bower_components/
